{% extends 'bloghost/base.html'%}
{% load static %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<link href="{% static 'css/admin_users.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">

    <p></p>
    <h1>Users</h1>
    <div class="col-md-12">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Control panel</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Date</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Login</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                      <tr>
                        <td align="center">
                          <a class="btn btn-default" href="{% url 'admin_edit' id=user.0 %}"><em class="fa fa-pencil"></em></a>
                          <form action={% url 'admin_delete' id=user.0 %} method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><em class="fa fa-trash"></em></button>
                          </form>
                        </td>
                        {% for item in user|slice:":-1" %}
                          <td>{{item}}</td>
                        {% endfor%}
                      </tr>
                    {% endfor %}
                        </tbody>
                </table>

              </div>
              <!-- <div class="panel-footer">
                <div class="row">
                  <div class="col col-xs-4">Page 1 of 5
                  </div>
                  <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>

</div></div></div>
<!--
  <div class="container">
    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Date</th>
          <th>Email</th>
          <th>Role</th>
          <th>Login</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            {% for item in user|slice:":-1" %}
              <td>{{item}}</td>
            {% endfor%}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->
{% endblock %}
