{% extends 'bloghost/content.html'%}
{% load static %}
{% block content %}

  <div class="container">
    <h2>Logs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Date</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
          <tr>
            {% for item in log|slice:"1:3" %}
              <td>{{item}}</td>
            {% endfor%}
            <td>
            {% if log.3 %}
              <a href={% url 'detail_user' id=log.3%}>{{log.3}}</a>
            {% else %}
              admin
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
