{% extends 'bloghost/base.html'%}
{% block content %}
<!-- Page Content -->
<div class="container bg-white">
  <div class="bg-white" style="background:white;padding-top:20px;">
    {% block error%}
  	{% endblock %}
  </div>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
        {% block entires %}
        {% endblock %}
    </div>

    <!-- Sidebar Widgets Column -->
    {% include 'bloghost/sidebar.html' %}

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
