{% extends 'bloghost/delete_base.html'%}
{% block form %}
<form action={% url 'delete_blog' id=id %} method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-success btn-sm">Yes</button>
  <a href="{% url 'index' %}" class="btn btn-danger btn-sm">No</a>
</form>
{% endblock %}
