{% extends 'bloghost/content.html'%}
{% block entires %}
<h1 class="my-4">
  <small>Deletion</small>
</h1>

  <hr>
  <div>
    <h3>Are you shure you want to delete {{item}}?</h3>
  </div>
  {% block form %}
  {% endblock %}
{% endblock %}
