{% extends 'bloghost/base.html'%}
{% block content %}
  <div class="container" style="padding-top:13px">
      <h2>Edit post</h2>
    	<hr>
  	<div class="row">
        <div class="col-md-9 personal-info">
          <form class="form-horizontal" role="form" method="post">
            {% include 'bloghost/form.html'%}
          </form>
        </div>
    </div>
  </div>
{% endblock %}
