  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}

      <div>
          <label class="col-lg-3 control-label">{{ field.label_tag }}</label>
          {{field}}
      </div>
    </div>

  {% endfor %}
<hr/>
<div class="form-group">
  <label class="col-md-3 control-label"></label>
  <div class="col-md-8">
    <input type="submit" type="button" class="btn btn-primary" value="Save Changes">
    <span></span>
    <a class="btn btn-default" href="{% url 'admin_user' %}">Cancel</a>
  </div>
</div>
