{% extends 'bloghost/content.html'%}
{% block entires %}
<h1 class="my-4">
  <small>{{info}}</small>
</h1>

{% for record in records %}
  <!-- Blog Post -->
  <div class="card mb-4">
    <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
    <div class="card-body">
      <h2 class="card-title">{{record.2}}</h2>
      <hr/>
      <p class="card-text">{{record.1|truncatechars:200}}</p>
      <a href="{% url 'detail_post' id=record.0 %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{record.5|date:"d F Y"}} by
      <a href="{% url 'detail_user' id=record.7%}">{{record.8}}</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
