{% extends 'bloghost/base.html'%}
{% block content %}
  <div class="container" style="padding-top:13px">
      <h2>New blog</h2>
    	<hr>
  	<div class="row">
        <div class="col-md-9 personal-info">
          <form action="{% url 'create_post' %}" class="form-horizontal" role="form" method="post">
            {% include 'bloghost/form.html'%}
          </form>
        </div>
    </div>
  </div>
{% endblock %}
