{% extends 'bloghost/content.html'%}
{% load static %}

{% block entires %}
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

  <!-- Post Content Column -->
  <!-- <div class="col-lg-8"> -->

    <!-- Title -->
    <h1 class="mt-4">{{post.1}}</h1>
    Blog <a href="{% url 'detail_blog' id=post.2%}">{{post.6}}</a>
    <hr/>
    <!-- Author -->
    <p class="lead">
      <!-- Date/Time -->
      <h5>Posted on {{post.3|date:"d F Y"}}</h5>
      by <a href="{% url 'detail_user' id=post.4%}">{{post.5}}</a>
    </p>
    <hr>

    <!-- Preview Image -->
    <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

    <!-- <hr> -->

    <!-- Post Content -->
    <p class="lead">
      {{post.0}}
    <hr>

    <!-- Comments Form -->
    {% if request.session.user_id %}
    <div class="card my-4">
      <h5 class="card-header">Leave a Comment:</h5>
      <div class="card-body">
        <form action={% url 'create_comment' %} method="post">
          {% csrf_token %}
          <div class="form-group">
            <textarea name="text" class="form-control" rows="3"></textarea>
          </div>
          <input type="hidden" name="post_id" value="{{id}}">
          <input type="hidden" name="blog_id" value="{{post.2}}">
          <input type="hidden" name="user_id" value="{{request.session.user_id}}">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    {% endif %}
    <!-- Single Comment -->
    {% for comment in comments %}
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'detail_user' id=comment.3%}">{{comment.4}}</a>
          <span style="font-size:0.80em">on {{comment.2|date:"d F Y"}}</span>
        </h5>
        {{comment.1}}
      </div>
      {% if request.session.user_id %}
      <div>
        <a href={% url 'delete_comment' id=comment.0%}><i class="fa fa-close" style="font-size:24px;margin:4px"></i></a>
      </div>
      {% endif %}
    </div>
    <hr/>
    {% endfor %}


  <!-- </div> -->
{% endblock %}
