{% extends 'bloghost/login_base.html'%}
{% load static %}
{% block form %}
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	{% block error%}
	{% endblock %}
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">First Name</label>
						<input type="text" class="form-control" id="reg_username" name="first_name" placeholder="First name">
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Last Name</label>
						<input type="text" class="form-control" id="reg_username" name="last_name" placeholder="Last name">
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Login</label>
						<input type="text" class="form-control" id="reg_username" name="login" placeholder="login">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
					</div>

					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
					</div>

				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="{% url 'login' %}">login here</a></p>
			</div>
		</form>
		<!-- <form id="register-form" class="text-left" action="{% url 'register' %}" method="post">
			{% csrf_token %}
					{{ form.non_field_errors }}
			<div class="fieldWrapper">
			    {{ form.subject.errors }}
			    <label for="id_subject">Email subject:</label>
			    {{ form.subject }}
			</div>
			<div class="fieldWrapper">
			    {{ form.message.errors }}
			    <label for="id_message">Your message:</label>
			    {{ form.message }}
			</div>
		</form> -->
	</div>
	<!-- end:Main Form -->
</div>
{% endblock %}
