{% load static %}
  <link href="{% static 'css/user_profile.css' %}" rel="stylesheet">

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- User Widget -->
  {% if request.session.user_id %}
    <div class="card my-4">
    <h5 class="card-header">User profile</h5>
    <div class="card-body">
        <div >
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="card-text">
                <a href="{% url 'detail_user' id=request.session.user_id %}">
                  {{request.session.name}}
                </a>
              </h5>
              <h6 class="card-text">Role: {{request.session.role}}</h6>
            </div>
              <div>
                <a href="{% url 'edit_user' id=request.session.user_id %}"><i class="fa fa-edit" style="font-size:24px;margin:4px"></i></a>
                <!-- <a href="#"><i class="fa fa-remove" style="font-size:24px;margin:4px"></i></a> -->
              </div>
            </div>
            <hr/>
            <div class="profile-usermenu">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="{% url 'create_post' %}" style="font-size:20px">New post</a>
                </li>
                <li>
                  <a href="{% url 'create_blog' %}" style="font-size:20px">New blog</a>
                </li>
                <li>
                  <a href="{% url 'detail_user' id=request.session.user_id %}" style="font-size:20px">Account settings</a>
                </li>
              </ul>
            </div>
        </div>


	     </div>
  </div>
  {% endif %}
</div>
