{% extends 'bloghost/base.html'%}
{% load static %}
{% block content %}
<div class="container">

  {% if user %}
    <div class="card mb-4" style="margin-top:15px">
      <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
      <div class="card-body">
        <h3 class="card-title">User info</h3>
        <hr/>
        <div class="media mb-4">
          <div class="media-body">
              <h5 class="card-text">{{user.1}} {{user.2}}</h5>
              <h6 class="card-text">Birth date: {{user.3|date:"d F Y"}}</h6>
              <h6 class="card-text">Email: {{user.4}}</h6>
              <h6 class="card-text">Role: {{user.5}}</h6>
          </div>
          {% if match %}
            <div>
              <a href="{% url 'edit_user' id=request.session.user_id %}"><i class="fa fa-edit" style="font-size:24px;margin:4px"></i></a>
              <!-- <a href="#"><i class="fa fa-remove" style="font-size:24px;margin:4px"></i></a> -->
            </div>
          </div>
            <hr/>
            <div class="profile-userbuttons">
              <a href="{% url 'create_post' %}" class="btn btn-info btn-sm" style="margin-left:15px">New post</a>
              <a href="{% url 'create_blog' %}" class="btn btn-info btn-sm" style="margin-left:15px">New blog</a>
            </div>
          {% else %}
            </div>
          {% endif %}
      </div>
    </div>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-6">
        <h1 class="my-4">
          <small>Blog</small>
        </h1>

        {% for record in blogs %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
            <div class="card-body">
              <div class="media mb-4">
                <div class="media-body" style="margin-bottom:-20px">
                    <h2 class="card-title">{{record.1}}</h2>
                </div>
                {% if match %}
                  <div>
                    <a href="{% url 'edit_blog' id=record.0 %}"><i class="fa fa-edit" style="font-size:24px;margin:4px"></i></a>
                    <a href="{% url 'delete_blog' id=record.0 %}"><i class="fa fa-remove" style="font-size:24px;margin:4px"></i></a>
                  </div>
                {% endif %}
              </div>
              <hr/>
                <!-- <p class="card-text"></p> -->
                <a href="{% url 'detail_blog' id=record.0 %}" class="btn btn-primary">View More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Creation date: {{record.5|date:"d F Y"}}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-6">
        <h1 class="my-4">
          <small>Publications</small>
        </h1>

        {% for record in records %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="media mb-4">
                <div class="media-body" style="margin-bottom:-20px">
                    <h2 class="card-title">{{record.2}}</h2>
                </div>
                {% if match %}
                  <div>
                    <a href="{% url 'edit_post' id=record.0 %}"><i class="fa fa-edit" style="font-size:24px;margin:4px"></i></a>
                    <a href="{% url 'delete_post' id=record.0 %}"><i class="fa fa-remove" style="font-size:24px;margin:4px"></i></a>
                  </div>
                {% endif %}
              </div>
              <hr/>
              <p class="card-text">{{record.1|truncatechars:200}}</p>
              <a href="{% url 'detail_post' id=record.0 %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{record.5|date:"d F Y"}} by
              <a href="{% url 'detail_user' id=record.7 %}">{{record.8}}</a>
            </div>
          </div>
        {% endfor %}
      </div>

      </div>

    </div>
    <!-- /.row -->
  {% else %}
    <div class="card mb-4" style="margin:15px">
      <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
      <div class="card-body">
        <h2 class="card-title">User does not exist! May be it's just a baby? :)</h2>
        <p class="card-text"></p>
      </div>

    </div>

  {% endif %}

</div>
{% endblock %}
